<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置实体类的别名 -->
	<typeAliases>
		<!-- 扫描实体包下的实体类 -->
		<package name="com.aode.bn.domain"/>
	</typeAliases>
</configuration>